.featured-cars {
    padding: 40px 20px;
    text-align: center;
}

.featured-cars h2 {
    font-size: 2em;
    margin-bottom: 30px;
}

.car-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.car-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Aggiungi transizione per transform e mantieni box-shadow */
}

.car-card-link:hover {
    transform: scale(1.05); /* Ingrandisce l'intero link (e quindi la card e l'overlay) */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Mantiene l'effetto ombra */
}

.car-card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.car-card:hover .overlay {
    opacity: 1;
    transform: translateY(0);
}

.car-card img {
    width: 100%;
    height: auto;
    display: block;
}

.car-card h3 {
    padding: 15px;
    margin: 0;
    font-size: 1.5em;
}

.car-card p {
    padding: 0 15px 15px;
    margin: 0;
    color: #666;
}

.car-card .price {
    display: block;
    padding: 10px 15px;
    background-color: #333;
    font-weight: bold;
    color: whitesmoke;
    position: relative; /* Necessario per mantenere lo z-index sopra l'overlay */
    z-index: 10;
}

/* Stile per l'overlay */
.car-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Sfondo scuro semi-trasparente */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    opacity: 0; /* Inizialmente nascosto */
    transform: translateY(0%); /* Inizialmente non traslato */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transizione per l'apparizione */
    border-radius: 8px; /* Per mantenere gli angoli arrotondati */
}